# Ignore everything
*

# --- Whitelist certain files in ~ ---
!/.gitignore
!/.bashrc
!/.inputrc

# Unignore .config
!/.config/

# Unignore folders we want to keep (inside .config)
!/.config/kitty/
!/.config/hypr/
!/.config/starship/
!/.config/uwsm/
!/.config/waybar/
!/.config/wofi/

# Now unignore contents of folders we are now including
!/.config/hypr/**
!/.config/kitty/**
!/.config/starship/**
!/.config/uwsm/**
!/.config/waybar/**
!/.config/wofi/**
