# Ignore everything
*

# --- Whitelist certain files in ~ ---
!/.bashrc
!/.inputrc

# Unignore .config
!/.config/
# Reignore everything inside .config
/.config/*

# Unignore things we want to keep (inside .config)
!/.config/hypr/*
!/.config/kitty/*
!/.config/starship/*
!/.config/uwsm/*
!/.config/waybar/*
!/.config/wofi/*
